<div class="row">
<div class="form-group">
  <div class="col-md-6 col-sm-6 col-xs-12">
  <label>{{labelDateType[0]}}:</label>
    <input type="date" [(ngModel)]="schedule.minDate" pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$"  id="leaveDateText" required="required" placeholder="dd/mm/aaaa" class="form-control col-md-6 col-xs-12">
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
  <label>{{labelDateType[1]}}:</label>
    <input type="date"  name="maxDate" [(ngModel)]="schedule.maxDate" pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$" id="returnDateText" required="required" placeholder="dd/mm/aaaa" class="form-control col-md-6 col-xs-12" required>
  </div>
</div>

<div [ngClass]="{formgroup:schedule.options.showHours,displaynone:!schedule.options.showHours}">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <label></label>
     <select [(ngModel)]="schedule.minHour" id="minHour" required="required" class="form-control">
      <option value="hour" *ngFor="let hour of schedule.getListHours()">{{hour}}</option>      
    </select>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <label></label>
    <select [(ngModel)]="schedule.maxHour" id="maxHour" required="required" class="form-control">
      <option value="hour" *ngFor="let hour of schedule.getListHours()">{{hour}}</option>      
    </select>
  </div>
</div>
</div>
